@model Xitaso_Webapplikation_DB.ViewModels.CreateAnalyseViewModel
@{
    ViewBag.Title = "Analyse anlegen";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Projekt/Index">Zurück</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <h2>@ViewBag.Title</h2>
            <form asp-action="CreateProject" asp-controller="Projekt" method="post">
                <div class="form-group col-md-4">
                    <label for="projektAuswahl">Projekt</label>
                    <select id="projektAuswahl" class="form-control">
                        @for(int i = 0; i < Model.Projekte.Count(); i++)
                        {
                        <option asp-for="projectName" value="@Model.Projekte[i].Id">@Model.Projekte[i].name</option>
                           }
                            
                    </select>
                </div>
                <div class="mb-3">
                    <label for="analysisName" class="form-label">Analysenname</label>
                    <input asp-for="Analyse.name" type="text" class="form-control" id="analysisName" />
                </div>
                <div class="mb-3">
                    <label for="comment">Analysen-Kommentar</label>
                    <textarea asp-for="Analyse.comment" class="form-control" id="comment" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>

        </div>
    </div>
</div>
