
@{
    ViewBag.Title = "Analyse anlegen";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Projekt/Index">Zurück</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <h2>@ViewBag.Title</h2>
            <form>
                <div class="mb-3">
                    <label for="analysisName" class="form-label">Analysenname</label>
                    <input type="text" class="form-control" id="analysisName" />
                </div>
                <div class="mb-3">
                    <label for="comment">Analysen-Kommentar</label>
                    <textarea class="form-control" id="comment" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>

        </div>
    </div>
</div>
