/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*----------------*/
/*Custom CSS Below*/
/*----------------*/

body {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left:50px;
}

.active {
    border: 2px solid black;
}

.to-show {
    display: none;
}


.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}
/*Optionen Kebab anzeigen auf Projekt > Index & Analyse > Index wenn über card gehovert / row gehovert wird*/
.project-options, .category-options, .question-options {
    visibility: hidden;
    float: right;
}

.card:hover .project-options {
    visibility: visible;
}
hoverRow:hover .question-options{
    visibility:visible;
}
.hoverRow:hover .category-options {
    visibility: visible;
}
/*---------------------------------------------------------------------------------------------------------*/

.active .project-options {
    visibility: visible;
}

.card:hover {
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.questionField {
    min-width: 100%;
    border: none;
    height: auto;
    resize: none;
}


.hoverRow:hover .question-options {
    visibility: visible;
}

/*Radio-Buttons richtige Farbe*/
.btn-check:checked + .ist {
    background: #EDC951;
}

.btn-check:checked + .soll {
    background: #CC333F;
}
/*----------------------------*/

/*Xitaso-Style übernehmen*/
.btn-primary {
    background-color: #7a212e !important;
    border-color: #7a212e !important;
}

.btn-outline-primary {
    color: #7a212e !important;
    border-color: #7a212e !important;
}
.btn-outline-primary:hover {
        background-color: #7a212e !important;
        color:white !important;
    }
/*-----------------------*/

.trash-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}