@model Xitaso_Webapplikation_DB.Models.Projekt
@{
    ViewBag.Title = "Projekt anlegen";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Projekt/Index">Zurück</a>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-5">
            <h2>@ViewBag.Title</h2>
            <form asp-action="CreateProject" asp-controller="Projekt" method="post">
                <div class="mb-3">
                    <label for="projectName" class="form-label">Projektname</label>
                    <input asp-for="name" class="form-control w-100"/>
                </div>
                <div class="mb-3">
                    <label for="comment">Projekt-Kommentar</label>
                    <textarea class="form-control w-100" asp-for="projectDescription" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>

        </div>
    </div>
</div>

