@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Projekt/Index">Zurück</a>
        </div>
        <div class="col ">
            <button class="btn btn-primary float-end">Speichern</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" value="Projektname" />
            <textarea class="form-control">Kommentar</textarea>
            <input type="checkbox" id="finishedProject" />
            <label for="#finishedProject">Projekt als beendet markieren</label>
        </div>
        <div class="col">
            <h5>Analysen</h5>
        </div>
    </div>
</div>
