
@{
    ViewBag.Title = "Projekt bearbeiten";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Projekt/Index">Zurück</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <h2>@ViewBag.Title</h2>
            <form asp-action="EditProject" asp-controller="Projekt" method="post">
                <div class="mb-3">
                    <label for="projectName" class="form-label">Projektname</label>
                    <input class="form-control" type="text" value="Projektname" id="projectName" />
                </div>
                <div class="mb-3">
                    <label for="projectName" class="form-label" for="comment">Projektname</label>
                    <textarea class="form-control" placeholder="Kommentar" id="comment"></textarea>
                </div>
                <div class="mb-3">
                    <input type="checkbox" id="finishedProject" />
                    <label for="projectName" class="form-label" for="finishedProject">Projekt als beendet markieren</label>
                </div>
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </div>
    </div>
</div>
